.result-links {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc; 
}

.selected-location {
    text-transform: capitalize;
    font-weight: bold;
}